<!doctype html>
<html>
<head>
    <title>Book Tracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h3>Books</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].title %></span>
              <span><%= messages[i].author %></span>
              <span><%= messages[i].genre %></span>
              <span><%= messages[i].rating %></span>
              <span><%= messages[i].status %></span>
              <span><i class="fa fa-trash" aria-hidden="true" data-id="<%= messages[i]._id%>"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a book, then hit refresh once done so that your books can show up under books</h2>
        
          <form action="/messages" method="POST">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required><br><br>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required><br><br>
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" required><br><br>
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" min="0" max="10" required><br><br>
            <label for="status">Status:</label>
            <select id="status" name="status" required>
              <option value="unread">Unread</option>
              <option value="read">Read</option>
              <option value="reading">Reading</option>
            </select><br><br>
            <button type="submit">Add Book</button>
          </form>
        </div>
       

</div>

<script src="main.js"></script>

</body>
</html>
